# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/EuroDiffusion/v15/.suo
.vs/EuroDiffusion/v15/.suo
*.db
.vs/EuroDiffusion/v15/.suo
.vs/EuroDiffusion/v15/Browse.VC.db
EuroDiffusion/Debug/vc141.pdb
EuroDiffusion/Debug/vc141.idb
EuroDiffusion/Debug/EuroDiffusion.tlog/link.write.1.tlog
EuroDiffusion/Debug/EuroDiffusion.tlog/link.read.1.tlog
EuroDiffusion/Debug/EuroDiffusion.tlog/link.command.1.tlog
EuroDiffusion/Debug/EuroDiffusion.tlog/EuroDiffusion.lastbuildstate
EuroDiffusion/Debug/EuroDiffusion.tlog/CL.write.1.tlog
EuroDiffusion/Debug/EuroDiffusion.tlog/CL.read.1.tlog
EuroDiffusion/Debug/EuroDiffusion.tlog/CL.command.1.tlog
EuroDiffusion/Debug/EuroDiffusion.log
Debug/EuroDiffusion.pdb
Debug/EuroDiffusion.ilk
.vs/EuroDiffusion/v15/ipch/588311f7622a604b.ipch
*.pdb
*.idb
EuroDiffusion/Debug/EuroDiffusion.tlog/unsuccessfulbuild
EuroDiffusion/Debug/EuroDiffusion.tlog/link.write.1.tlog
*.tlog
.vs/EuroDiffusion/v15/Browse.VC.opendb
.vs/EuroDiffusion/v15/Browse.VC.db
.vs/EuroDiffusion/v15/Browse.VC.db
.vs/EuroDiffusion/v15/Browse.VC.db
Debug/EuroDiffusion.pdb
.vs/EuroDiffusion/v15/Browse.VC.db
.vs/EuroDiffusion/v15/.suo
